.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info > button {
    background: #FFD814;
  border: 0px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border-radius: 15px;
  height: 28px;
  width: 145px;
}

.checkoutProduct__info > button:hover{
    background: FA8801;
  border: 1px solid;
}
.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}

@media only screen and (max-width : 650px) {
   
  .checkoutProduct{

    width: 97%;
  }

  }